<div class="container">
    <div>
        <div class="row">
            <div>
                <h1 class="col m12 center">List all trips</h1>
            </div>
        </div>
        <div class="row">
            <div class="col m4 center">
                Filter by date
            </div>
            <div class="col m4 center">
                Sort by creator
            </div>
            <div class="col m4 center">
                Filter by page
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row">
            <div class="col m3 center"><strong>Creator</strong></div>
            <div class="col m3 center"><strong>Created On</strong></div>
            <div class="col m3 center"><strong>Participants</strong></div>
            <div class="col m3 center"><strong>Route</strong></div>
        </div>

    </div>
</div>