<div class="row center">
    <h3>Users</h3>
</div>
@(Html.Kendo().Grid<BulBike.Web.Areas.Admin.Models.UserViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.UserName);
          columns.Bound(c => c.FirstName);
          columns.Bound(c => c.LastName);
          columns.Bound(c => c.Email);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ColumnMenu()
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Pageable()
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Read", "User"))
          .Update(update=> update.Action("Update", "User"))
          .Destroy(destroy => destroy.Action("Destroy", "User"))
      )
)
