@using Microsoft.AspNet.Identity

<div id="divContainer">
    <div id="divChat" class="container body-content">
        <div id="chatHeader">
            <div class="center">Chat</div>
        </div>

        <div id="divUsers2" class="col s5">
        </div>
    </div>
</div>