@model string

<div class="form-group">
    @Html.ValidationMessageFor(m => m, null, new { @class = "red-text" })
    <br />
    @Html.LabelFor(m => m, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m, new { @class = "materialize-textarea" })
    </div>
</div>