@model object

@using (Html.BeginForm("AddImages", "Trip", FormMethod.Post, new { @class = "form" }))
{
    <div class="file-field input-field">
        @Html.TextBoxFor(m => m, new { type = "file", id = "fileTag", onchange = "myFunction()" })
        <div class="file-path-wrapper">
            @Html.TextBoxFor(m => m, new { type = "text", placeholder = "Upload Picture", id = "changeText" })
        </div>
    </div>
    <br />

    @*<div class="file-field input-field">
        <input type="file" name="ProfilePic" id="fileTag" onchange="myFunction()">
        <div class="file-path-wrapper">
            <input type="text" placeholder="Upload Picture" name="ProfilePic" id="changeText">
        </div>
    </div>*@
}
