@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "_Chat";
    ViewBag.User = this.User.Identity.Name;
}

<div id="divContainer">
    <div id="divChat" class="chatRoom">
        <div class="title">
            Welcome to Chat Room [<span id='spanUser'></span>]

        </div>
        <div class="content">
            <div id="divChatWindow" class="chatWindow">
            </div>
            <div id="divusers" class="users">
            </div>
        </div>
        <div class="messageBar">
            <input class="textbox" type="text" id="txtMessage" />
            <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquerychat");
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/chatjs")
}