@using Microsoft.AspNet.Identity

<div id="divContainer">
    <div id="divChat" class="container body-content">
        <div style="background-color: aliceblue"><h3>Chat</h3></div>
        <div id="divUsers2" class="col s5">
        </div>
    </div>
</div>